body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: #4e3333;
}
.character {
    width: 300px;
    border-radius: 15px;
    margin-top: 20px;
}
.quote {
    font-size: 20px;
    font-style: italic;
    margin-top: 15px;
}

